<%-include('./partials/header')%>

<h1>Compose</h1>

<form action="/compose" method="POST">
    <div class="form-group">
          
            <label>Title</label>
            <input type="text" name="postTitle" class="form-control">
            <label>Post</label>
            <textarea name="postBody" class="form-control" rows="5"></textarea>
        
    </div>
<button type="submit" name="button" class="btn btn-default btn-primary">Publish</button>
</form>

<%-include('./partials/footer')%>